@import "tailwindcss";
@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid-Circular-A-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid-Circular-A-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Euclid Circular A", sans-serif;
}
